/03code/Template/*.iml
/03code/Template/.gradle
/03code/Template/local.properties
/03code/Template/.idea
/03code/Template/.DS_Store
/03code/Template/build
/03code/Template/captures
/03code/Template/.externalNativeBuild
